@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --primary: 225 92% 39%;
    --primary-foreground: 0 0% 98%;
    --background: 220 14% 96%;
    --foreground: 220 20% 14%;
    --card: 0 0% 100%;
    --card-foreground: 220 20% 14%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 15% 25%;
    --secondary: 220 14% 96%;
    --secondary-foreground: 220 20% 14%;
    --muted: 220 12% 91%;
    --muted-foreground: 220 10% 42%;
    --accent: 220 12% 93%;
    --accent-foreground: 220 20% 14%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 100% 99.4118%;
    --border: 220 10% 88%;
    --input: 220 10% 95%;
    --ring: 225 92% 39%;
    --chart-1: 151.3274 66.8639% 66.8627%;
    --chart-2: 217.2193 91.2195% 59.8039%;
    --chart-3: 258.3117 89.5349% 66.2745%;
    --chart-4: 37.6923 92.126% 50.1961%;
    --chart-5: 160.1183 84.0796% 39.4118%;
    --sidebar: 0 0% 100%;
    --sidebar-foreground: 220 10% 42%;
    --sidebar-primary: 151.3274 66.8639% 66.8627%;
    --sidebar-primary-foreground: 153.3333 13.0435% 13.5294%;
    --sidebar-accent: 220 12% 93%;
    --sidebar-accent-foreground: 220 20% 14%;
    --sidebar-border: 220 10% 88%;
    --sidebar-ring: 151.3274 66.8639% 66.8627%;
    --radius: 0.375rem;
    --shadow-2xs: 0 1px 2px 0 hsl(220 15% 20% / 0.03);
    --shadow-xs: 0 1px 2px 0 hsl(220 15% 20% / 0.05);
    --shadow-sm: 0 1px 2px 0 hsl(220 15% 20% / 0.05);
    --shadow: 0 1px 3px 0 hsl(220 15% 20% / 0.08), 0 1px 2px -1px hsl(220 15% 20% / 0.08);
    --shadow-md: 0 4px 6px -1px hsl(220 15% 20% / 0.08), 0 2px 4px -2px hsl(220 15% 20% / 0.06);
    --shadow-lg: 0 10px 15px -3px hsl(220 15% 20% / 0.08), 0 4px 6px -4px hsl(220 15% 20% / 0.04);
    --shadow-xl: 0 20px 25px -5px hsl(220 15% 20% / 0.08), 0 8px 10px -6px hsl(220 15% 20% / 0.04);
    --shadow-2xl: 0 25px 50px -12px hsl(220 15% 20% / 0.2);
    --tracking-normal: -0.011em;
    --spacing: 0.25rem;
    /* color custom */
    --active: 154.5763 100% 23.1373%;
    --inactive: 9.8901 81.982% 43.5294%;
    --azure-primary: 210deg 100% 19%;
    --sunshine-primary: 42deg 80% 55%;
    --tangerine-primary: 25deg 100% 25%;
    --slate-primary: 210deg 15% 20%;
    --crimson-primary: 0deg 100% 25%;
    --violet-primary: 270deg 100% 25%;
    --emerald-primary: 154.9deg 100% 19.2%;
    --rose-primary: 330deg 100% 25%;
    --teal-primary: 180deg 100% 20%;
  }

  .dark {
    --primary: 225 90% 55%;
    --primary-foreground: 0 0% 98%;
    --background: 222 18% 8%;
    --foreground: 220 15% 90%;
    --card: 222 16% 11%;
    --card-foreground: 220 15% 90%;
    --popover: 222 16% 14%;
    --popover-foreground: 220 10% 70%;
    --secondary: 222 14% 14%;
    --secondary-foreground: 0 0% 98%;
    --muted: 222 14% 13%;
    --muted-foreground: 220 10% 55%;
    --accent: 222 14% 18%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 12 12% 92%;
    --border: 222 12% 18%;
    --input: 222 14% 14%;
    --ring: 225 90% 55%;
    --chart-1: 141.8919 69.1589% 58.0392%;
    --chart-2: 213.1169 93.9024% 67.8431%;
    --chart-3: 255.1351 91.7355% 76.2745%;
    --chart-4: 43.2558 96.4126% 56.2745%;
    --chart-5: 172.4551 66.0079% 50.3922%;
    --sidebar: 222 18% 8%;
    --sidebar-foreground: 220 10% 55%;
    --sidebar-primary: 154.898 100% 19.2157%;
    --sidebar-primary-foreground: 152.7273 19.2982% 88.8235%;
    --sidebar-accent: 222 14% 18%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 222 12% 18%;
    --sidebar-ring: 141.8919 69.1589% 58.0392%;
    --radius: 0.375rem;
    --shadow-2xs: 0 1px 2px 0 hsl(0 0% 0% / 0.15);
    --shadow-xs: 0 1px 2px 0 hsl(0 0% 0% / 0.2);
    --shadow-sm: 0 1px 2px 0 hsl(0 0% 0% / 0.2);
    --shadow: 0 1px 3px 0 hsl(0 0% 0% / 0.25), 0 1px 2px -1px hsl(0 0% 0% / 0.25);
    --shadow-md: 0 4px 6px -1px hsl(0 0% 0% / 0.25), 0 2px 4px -2px hsl(0 0% 0% / 0.2);
    --shadow-lg: 0 10px 15px -3px hsl(0 0% 0% / 0.25), 0 4px 6px -4px hsl(0 0% 0% / 0.15);
    --shadow-xl: 0 20px 25px -5px hsl(0 0% 0% / 0.25), 0 8px 10px -6px hsl(0 0% 0% / 0.15);
    --shadow-2xl: 0 25px 50px -12px hsl(0 0% 0% / 0.5);
    /* color custom */
    --active: 154.5763 100% 23.1373%;
    --inactive: 9.8901 81.982% 43.5294%;
    --azure-primary: 210deg 100% 19%;
    --sunshine-primary: 55deg 100% 40%;
    --tangerine-primary: 25deg 100% 25%;
    --slate-primary: 210deg 15% 40%;
    --crimson-primary: 0deg 100% 25%;
    --violet-primary: 270deg 100% 25%;
    --emerald-primary: 154.9deg 100% 19.2%;
    --rose-primary: 330deg 100% 25%;
    --teal-primary: 180deg 100% 20%;
  }
}

@layer base {
  button,
  input,
  optgroup,
  select,
  label,
  textarea {
    font-size: 0.8125rem;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    letter-spacing: -0.011em;
  }

  h1 {
    @apply text-xl font-semibold tracking-tight;
  }

  h2 {
    @apply text-lg font-semibold tracking-tight;
  }

  h3 {
    @apply text-base font-semibold tracking-tight;
  }

}
